@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --spacing-3px: 3px;
  --spacing-15px: 15px;

  --text-heading: 1.39rem; /*may remove*/

  --color-custom-light: #f2eaea;
  --color-card-light: #faf7f2;
  --color-salmon-pink: #f87777;
  --color-salmon-pink-50: rgba(248, 119, 119, 0.5);
  --color-red: #f23834;
  --color-charcoal: #3a3a36;
  --color-charcoal-gray: #63605f;
  --color-gray-700: rgba(92, 92, 87, 0.9);
  --color-silver-gray: rgba(177, 177, 177, 0.4);
  --color-input: #dbe2ef;
  --color-silver-gray: #7b7b7b;
  --color-green-sage: #5c9967;
  --color-linen: #f0d1a8;
  --color-orange-amber: #f2b258;
  --color-task-text: #4b332f;
  --color-deep-teal: rgba(0, 109, 119, 0.4);

  --font-roboto: 'Roboto Flex', sans-serif;
  --font-island: 'Island Moments', cursive;
  --font-abhaya: 'Abhaya Libre', serif;
  --font-inter: 'Inter', sans-serif;
  --font-jost: 'Jost', sans-serif;
}

body {
  @apply bg-white;
}
